
.accordian-heading {
  text-align: center;
  margin: 2rem 0 4rem 0;
}

.accordian {
  max-width: 600px;
  margin: 2rem auto;
}

.accordian-title {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background-color: #21aeca;
  justify-content: space-between;
}

.accordian-title:hover {
  background-color: #3ab4cc;
}

.accordian-title,
.accordian-content {
  padding: 1rem;
}

.accordian-content {
  background-color: #39b9d2;
}
