.modal{
    top: 0;
    left:0;
    position:fixed;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
    width: 500px;
    background-color: white;
    transform: translateY(-200px);
    transition: all 0.3s ease-in-out;
}

.modal.show .modal-content{
    transform: translateY(0);
}

.modal-header, .modal-footer{
    padding: 10px;
}

.modal-title{
    margin: 0;
}

.modal-body{
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}