.star-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: xx-large;
    direction: rtl;
}

.star {
  color: gray;
}

.star:hover ~ span{
    color: gold;
    cursor: pointer;
}

.star:hover{
    color: gold;
    cursor: pointer;
}

.star:focus ~ span{
    color: gold;
}

.star:focus{
    color: gold;
}