code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bar-container {
  width: 200px;
  height: 30px;
  margin: 40px;
  background-color: grey;
}

.bar {
  height: 100%;
  background-color: green;
  width: 0%;
}

.header {
  display: flex;
  justify-content: center;
  background-color: darkkhaki;
}

.question-box {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  max-height: 100%;
}

.question {
  display: flex;
}

.answer {
  display: flex;
}

.question-text {
  margin-right: 10px;
  font-size: larger;
  width: 100px;
  font-weight: bold;
  color: crimson;
}

.answer-text {
  margin: 5px 0px 5px 0px;
  font-size: larger;
  color: #006400;
  font-weight: bold;
}

.actual-question {
  font-size: larger;
}

.actual-answer{
  font-size: larger;
  margin-left: 20px;
}

.example {
  color: blue;
}

.output {
  color: orangered;
}

/* tic tac toe */

#div1, #div4, #div7{
  clear: left;
  border-left-width: 0px !important;
}

#div1, #div2, #div3{
  border-top-width: 0px !important;
}

#div3, #div6, #div9{
  border-right-width: 0px !important;
}

#div7, #div8, #div9{
  border-bottom-width: 0px !important;
}


table {
  margin:1em auto;
  table-layout: fixed;
  border: 1;
  width: 550px;
}
td {
  height:30px;
  width: 10px!important;;
  border:1px solid;
  text-align:center;
}
td:first-child {
  border-left:solid;
}
td:nth-child(3n) {
  border-right:solid ;
}
tr:first-child {
  border-top:solid;
}
tr:nth-child(3n) td {
  border-bottom:solid ;
}

td input
{
  width: 100%;
    box-sizing: border-box;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  text-align: center;
}

div[data-tooltip]::after{
  content: attr(data-tooltip);
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scale(0);
  border: 1px solid black;
  background-color: grey;
  color:white;
  border-radius: 5px;
  transition: ease-out 150ms;
}

div[data-tooltip]:hover::after{
  bottom: 100%;
  transform: scale(1);
}

#o-list{
  counter-reset: o-list;
  list-style: none;
}

#o-list li::before{
counter-increment: o-list;
content: counter(o-list) '.';
}
